<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumTest">
  <test name="FireFoxFunctionalTests">
    <classes>
       <!--class name="CertificationVerificationCorp.CertificationVerification"/-->
       <class name="CertificationVerificationCorp.CertificateOfStatus"/>
       
    </classes>
  </test>
</suite>
